.form-container {
  position: absolute;
  top: 400px;
  left: 35%;
  width: 35%;
}

.form-submit_btn {
  position: absolute;
  top: 450px;
  left: 35%;
  width: 35%;
}

.card {
  margin: 40px;
  background-color: #484848;
  top: 0;
}
.card .card_body {
  color: white;
}

.card .card_body .text_arr {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  color: white;
}
