.form-container {
  position: absolute;
  top: 400px;
  left: 35%;
  width: 35%;
}

.form-submit_btn {
  position: absolute;
  top: 450px;
  left: 35%;
  width: 35%;
}

.card {
  margin: 40px;
  background-color: #484848;
  top: 0;
}
.book-card {
  width: 80vw;
  max-width: 1200px;
}
.card .card_body {
  color: white;
}

.card .card_body .text_arr {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  color: white;
}

.card-title {
  margin: 0 !important;
  font-size: 2rem;
}
.card-subtitle {
  color: rgba(238, 238, 238, 0.794) !important;
  margin: 0 !important;
  font-size: 1.5rem;
}

.text_arr {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.book-btn {
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  transform: background-color 1s;
}

.flex-ctn {
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
}

.text_arr > p {
  min-width: 137px;
}

.card-text {
  margin: 0 !important;
}

.book-btn:hover {
  background-color: rgba(255, 255, 255, 1);
}

